//CAREERS SECTION
.careers-section {
    overflow: hidden;
}
.careers-section__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 160px;
}

.careers-section__inner:nth-child(3) {
    padding-bottom: 147px;
}

.careers-section__inner:nth-child(even) {
    flex-direction: row-reverse;
}

.careers-section__item {
    width: 445px;
}

.careers-section__item-image {
    width: 445px;
    display: -webkit-inline-box;
    position: relative;
}

.careers-section__item-image--img {
    margin-right: 64px;
}

.careers-img__grey {
    display: block;
    width: 445px;
    height: 445px;
    border-radius: 50%;
    background-color: #E5ECF4;
}

.careers-img__grey-middle {
    display: block;
    width: 445px;
    height: 445px;
    border-radius: 50%;
    background-color: #E5ECF4;
    margin-left: -516px;
    margin-right: 64px;
}

.left-arrow {
    width: 740px;
    height: 150px;
    position: absolute;
    top: 149px;
    margin-left: -41px;
}

.right-arrow {
    width: 735px;
    height: 138px;
    position: absolute;
    left: -255px;
}

.top-arrow {
    width: 740px;
    height: 150px;
    position: absolute;
    top: 149px;
    top: -68px;
    margin-left: 262px;
}

.careers-section__item-title {
    margin: 0;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
}

.careers-section__item-text {
    margin: 0;
    padding-top: 24px;
    padding-bottom: 40px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}

.careers-section__item-link {
    @include button;
}
.careers-section__item-link:hover {
    @include button-hover;
}

.careers-section__item-image--img {
    width: 445px;
    height: 445px;
    display: block;
    border-radius: 50%;
}

//RESPONSIVE

@include breakpoint-down (1246px) {
    .careers-section__inner {
       justify-content: center;
    }
    .careers-section__item {
        margin-right: 80px;
    }
    .careers-section__inner:nth-child(even) .careers-section__item{
        margin-left: 80px;
        margin-right: 0;
    }
}

@include breakpoint-down (1000px) {
    .careers-section__inner {
        display: block;
    }
    .careers-section__item {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 56px;
    }
    .careers-section__item-image {
        margin-left: 225px;
    }
    .left-arrow {
        margin-left: -14px;
    }
    .careers-section__inner:nth-child(even) .careers-section__item {
        margin: 0 auto;
        margin-bottom: 56px;
    }    
}

@include breakpoint-down (820px) {
    .careers-section__item-image {
        margin-left: 183px;
    }
    .left-arrow {
        margin-left: -58px;
    }
}

@include breakpoint-down (756px){
    .careers-section__item-image {
        margin-left: 147px;
    }
 
    .careers-img__grey-middle {
        margin-left: -532px;
    }
}

@include breakpoint-down (700px){
    .careers-section__item-image {
        margin-left: 96px;
    }
    .left-arrow {
        margin-left: -35px;
    }
    .careers-img__grey-middle {
        margin-left: -495px;
    }

}  

@include breakpoint-down (650px) {
    .careers-section__item-image{
        width: 311px;
        margin-left: 165px;
    }
    .careers-section__inner {
        margin-bottom: 120px;
    }
   
    .careers-section__item-image--img {
        width: 311px;
        height: 311px;
    }
    .careers-img__grey {
        width: 311px;
        height: 311px;
    }
    .careers-img__grey-middle {
        width: 311px;
        height: 311px;
        margin-left: -395px;
    }
    .left-arrow {
        top: 93px ;
    }
    .right-arrow{
        left: -207px;
    }
}

@include breakpoint-down (576px) {
    .careers-section__item-image {
        margin-left: 127px;
    }
}
@include breakpoint-down (540px) {
    .careers-section__item-image {
        margin-left: 100px;
    }
}
@include breakpoint-down (500px) {
    .careers-img__grey {
        display: none;
    }
    .careers-img__grey-middle {
        display: none;
    }
    .careers-section__item {
        width: 80%;
    }    
    .careers-section__item-title {
        font-size: 32px;
        line-height: 32px;
    }
    .top-arrow {
        top: -89px;
        margin-left: 145px;
    }
    .careers-section__item-image {
        margin-left: 65px;
    }
}

@include breakpoint-down (420px) {
    .careers-section__item-image {
        margin-left: 34px;
    }
    .left-arrow {
        margin-left: -10px;
    }
}

@include breakpoint-down (380px) {
    .careers-section__item {
        width: 100%;
    }   
    .careers-section__item-image  {
        margin-left: 20px;
    }
}

@include breakpoint-down (350px) {
    .careers-section__item-image  {
        margin-left: 5px;
    }
}

@include breakpoint-down (340px) {
    .careers-section__item-image  {
        margin-left: -16px;
    }
    .left-arrow{
        margin-left: 5px;
    }
    .right-arrow {
        left: -132px;
    }

}