//FOOTER SECTION
.footer-section {
    background-color: #333A44;
}

.footer-section__content {
    display: flex;
    align-items: center;
    padding: 32px 0;
}

.footer-section__logo {
    width: 108px;
    height: 28px;
    display: block;
}

.footer-navbar__list {
    display: flex;
    @include list;
    margin-left: 58px;
}

.footer-navbar__item {
    margin-right: 32px;
    transition: all 0.4s ease;
}
.footer-navbar__item:nth-child(3) {
    margin-right: 0;
}

.footer-navbar__item-link {
    @include nav-link;
}

.footer-navbar__item-link:hover {
    @include nav-hover;
}

.footer-section__link {
    margin-left: auto;
}

.footer-section__link-icon {
    text-decoration: none;
    margin-right: 24px;
    font-size: 24px;
    color: #FCB72B;
    transition: color 0.4s ease;
}

.footer-section__link-icon:nth-child(3) {
    margin-right: 0;
}

.footer-section__link-icon:hover {
    color: #E5ECF4;
}

