//HERO SECTION
.hero-section {
    height: 650px;
    background: url(../../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #2F3B59;
}

.hero-section__wrapper {
    padding-top: 153px;
    width: 500px;
}

.hero-section__wrapper-title {
    margin: 0;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
}

.hero-section__wrapper-text {
    margin: 40px 0; 
    margin-left: 100px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.hero-section__wrapper-text::before {
    width: 446px;
    height: 138px;
    display: block;
    content: "";
    background-image: url(../../images/right-arrow.svg);
    background-repeat: no-repeat;
    background-size: 446px 138px;
    position: absolute;
    margin-left: 450px;
    top: 456px;
}

.hero-section__wrapper-text::after {
    display: block;
    content: "";
    width: 202px;
    height: 0;
    border: 6.7px solid #FCB72B;
    background-color: #fcb72b;
    position: absolute;
    top: 457px;
    margin-left: -322px;
}

.site-button__hero {
    @include button;
    margin-left: 100px;
    transition: background-color 0.4s ease;
}

.site-button__hero:hover {
   background-color: transparent;
   border: 3px solid #FCB72B;
   box-sizing: border-box;
}

//RESPONSIVE    

@include breakpoint-down (1100px) {
    .hero-section__wrapper-text::after {
        display: none;
    }
    .hero-section__wrapper-text::before {
        margin-left: 220px;
        top: 558px;
    }
}

@include breakpoint-down (790px) {
    .hero-section__wrapper {
        width: 573px;
        padding-top: 132px;
        margin: auto;
        text-align: center;
    }
    .hero-section__wrapper-text {
        margin-top: 24px;
        margin-bottom: 32px;
        margin-left: 0;
    }
    .site-button__hero {
        margin-left: 0;
    }
    .hero-section__wrapper-text::before {
        margin-left: -216px;
    }
}

@include breakpoint-down (620px) {
    .hero-section__wrapper {
        width: 520px;
    }
}

@include breakpoint-down (550px) {
    .hero-section__wrapper {
        width: 420px;
    }
    .hero-section__wrapper-title {
        font-size: 45px;
        line-height: 50px;
    }
}

@include breakpoint-down (450px) {
    .hero-section__wrapper {
        width: 311px;
        padding-top: 115px;
    }
    .hero-section__wrapper-title {
        font-size: 40px;
        line-height: 40px;
    }
    .hero-section__wrapper-text {
        margin-bottom: 34px;
    }
    .hero-section__wrapper-text::before {
        margin-left: -342px;
    }
}

@include breakpoint-down (330px) {
    .hero-section__wrapper {
        width: 280px;
    }
}